@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="/images/aa11.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="/images/aa1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/aa10.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/aaa4.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/aa9.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/a1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/a10.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />

<section>
    <div>
        <h2>
            Best of Electronics
        </h2>
    </div>
    <div class="withOptions" id="Electronices">
        <div class="card" style="width: 18rem;" id="gap">
            <img src="/images/tv.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MI 4K Quality </h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" id="gap">
            <img src="/images/istockphoto-952839420-612x612.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Refrigerators</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" id="gap">
            <img src="/images/sa.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Ultra S23</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" id="gap">
            <img src="/images/photo-1505740420928-5e560c06d30e.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wireless Headphones</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>
    </div>
</section>
<br />

<section>
    <div>
        <h2>
            New Arrivals...
        </h2>
    </div>
    <div class="withOptions" id="Electronices">
        <div class="card space" id="gap">
            <img src="/images/a4.jpg" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">Fossile Watch</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card space" id="gap">
            <img src="/images/a5.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Men's Wear</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card space" id="gap">
            <img src="/images/a6.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Perfumes</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card space" id="gap">
            <img src="/images/a7.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Suit sets</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>
            </div>
        </div>

        <div class="card space" id="gap">
            <img src="/images/a8.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vega Hair Straightner</h5>
                <a href="/User/Login" class="btn btn-primary">See More>></a>

            </div>
        </div>
    </div>
</section>
<br/>
<br/>

<section>
    <div>
        <h2>Shop By Brand</h2>
    </div>
    <div class="row ">
        <div class="col-md-2 logo">
            <img src="/images/lg1.webp" class="card-img-top" style="margin-right: 15px;"  alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg2.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg3.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg9.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
         <div class="col-md-2 logo">
            <img src="/images/lg5.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg6.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg7.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg8.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg10.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
        <div class="col-md-2 logo">
            <img src="/images/lg11.webp" class="card-img-top" style="margin-right: 15px;" alt="...">
        </div>
    </div>
</section>

<script>

      $('.withOptions').slick({
        slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1500,
      });
</script>